@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #696969; */
  /* background-color: #d5d5d5; */

  /* Light mode text color */
  /* background: rgb(114, 9, 11);
  background: linear-gradient(240deg, rgba(114, 9, 11, 0.20780812324929976) 0%, rgba(114, 9, 11, 0.6167717086834734) 22%, rgba(177, 177, 177, 1) 84%, rgba(214, 214, 214, 1) 96%); */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Firefox (scrollbar) */
* {
  scrollbar-width: thin;
  scrollbar-color: #3d3d3d #DFE9EB;
}

/* Chrome, Edge and Safari (scrollbar) */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #201E1B;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #36332E;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #575757;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #6e6e6e;
}

/* Hero stuff */
/* .hero {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #000;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

/* svg:hover {
  fill: rgb(80, 79, 79);
} */

li:hover {
  transition: 300ms;
}



.nav-container {
  max-width: 90%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}